body
{
    background-image: url("images/2017.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.Bordereau {
  background-color: red;
}

.nav_menu {
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  background-color: red;
}

.CS-middle {
  border: 2px black outset;
  Width:60%;
  height:50%;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:20%;
  margin-top:6%;
  padding:5%;
  background-color: grey;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

.CS-middle h2
{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.CS-middle p
{
    font-size: 1rem;
    text-align: center;
    z-index: 2;
    color: white;
    word-wrap:break-word;
}
.CS-middle img
{
    position: relative;
    float: right;
    width: 2rem;
    z-index: 1;
}
